<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>The Rick and Morty</title>
</head>

<body>
    <div id="app">
        <div class="jumbotron jumbotron-fluid head">
            <div style="width: 100%; height: 100%;position: absolute;background-color: rgba(0,0,0,0.6);">
                <div class="container text-head">
                    <h1 class="display-4" style="font-size: 100px;font-family: classique;"><b>The Rick and
                            Morty
                            character</b></h1>
                    <!-- <p class="lead" style="text-align: center;margin-top: 5px;">HEY, DID YOU EVER WANT TO HOLD A TERRY -->
                    <!-- FOLD? -->
                    <!-- </p> -->
                    <form class="form-inline">
                        <input class="searchbar" type="search" placeholder="Search Name, Gender, Origin or Location"
                            aria-label="Search" v-model="searchText">
                    </form>
                    <button class="searchbutton" type="submit" v-on:click="searchTextResult" onClick="document.getElementById('result').scrollIntoView();"
                        style="margin-top: 2%;">Search</button>
                </div>

            </div>
        </div>

        <div class="container-fluid" id="result">
            <div class="row">
                <div class="col-md-3" v-for="character in searchTextResult" style="padding-top:15px;">
                    <div class="card my-3" style="height:600px;">
                        <img :src="character.image" class="card-img-top img-fluid avatar" style="height:100%;" />
                        <div class="card-body" style="padding-top: 0%;">
                            <div class="name">
                                <h5 class="card-title" style="font-family: classique;font-size: 30px;color: black;margin-bottom: 0;">{{character.name}}</h5>
                                <!-- <div class="status" v-if="character.status == 'Alive'">{{ character.status }}</div> -->
                                <div class="status" :style="{'background-color': (character.status == 'Alive') ? 'yellowgreen' : (character.status == 'unknown') ? 'gray' : 'red' }">{{ character.status }}</div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted" style="margin-top:2%;">id: {{ character.id }} - {{ calculate_year(character.created) }}
                            </h6>
                            <div class="avatar-line"></div>
                            <p class="card-text">
                                <!-- <b>STATUS:</b> {{ character.status }} <br> -->
                                <b>SPECIES:</b> {{ character.species }} <br>
                                <b>GENDER:</b> {{ character.gender }} <br>
                                <b>ORIGIN:</b> {{ character.origin.name }} <br>
                                <b>LAST LOCATION:</b> {{ character.location.name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    info: [],
                    searchText: ''
                };
            },
            methods: {
                calculate_year: function (data) {
                    created_year = Number(data.slice(0, 4));
                    year = 2019;
                    distance = year - created_year;
                    if (distance == 0){
                        text = 'created this year'
                    }
                    else if(distance == 1){
                        text = 'created a year ago'
                    }
                    else{
                        text = 'created ' + distance.toString() + ' years ago'
                    }
                    return text
                }
            },
            mounted() {
                axios
                    .get('https://rickandmortyapi.com/api/character/')
                    .then(response => (
                        this.info = response.data.results
                    ))
                    .catch(error => console.log('Fetch data error'));
            },
            computed: {
                searchTextResult: function () {
                    return this.info.filter(character => {
                        let searchText = this.searchText.toLowerCase()

                        let isMathchTitle = character.name.toLowerCase().includes(searchText)
                        let isMatchLocation = character.location.name.toLowerCase().includes(searchText)
                        let isMatchGender = character.gender.toLowerCase().includes(searchText)
                        let isMatchOrigin = character.origin.name.toLowerCase().includes(searchText)

                        return isMathchTitle | isMatchLocation | isMatchGender | isMatchOrigin
                    });
                },
            },
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>