<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>The Rick and Morty</title>
</head>

<body>
    <div id="app">
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid head">
            <div class="black-jumbotron">
                <!-- Text -->
                <div class="container text-head">
                    <h1 class="display-4"><b>The Rick and
                            Morty</b></h1>
                    <p class="lead"><span>HEY, DID YOU EVER WANT TO HOLD A
                            TERRY
                            FOLD?</span></p>
                    <!-- Search part -->
                    <form class="form-inline">
                        <input class="searchbar" type="search" placeholder="Search what do you want! 🔍"
                            aria-label="Search" v-model="searchText">
                    </form>
                    <button class="searchbutton" type="submit" v-on:click="searchTextResult"
                        onClick="document.getElementById('result').scrollIntoView();">Go</button>
                    <!-- Search part -->
                </div>
                <!-- Text -->

            </div>
        </div>
        <!-- Jumbotron -->

        <!-- Character card -->
        <div class="container-fluid" id="result">
            <h1>Character</h1>
            <div class="row">
                <div class="col-md-3 character-card-set" v-for="character in searchTextResult">
                    <div class="card my-3 character-card">
                        <!-- Character image -->
                        <img :src="character.image" class="card-img-top img-fluid avatar"/>

                        <!-- Character Information -->
                        <div class="card-body">
                            <div class="name">
                                <h5 class="card-title">
                                    {{character.name}}</h5>
                                <!-- Status bar -->
                                <div class="status"
                                    :style="{'background-color': (character.status == 'Alive') ? 'yellowgreen' : (character.status == 'unknown') ? 'gray' : 'red' }">
                                    {{ character.status }}</div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted">id: {{ character.id }} -
                                {{ calculate_year(character.created) }}
                            </h6>
                            <div class="avatar-line"></div>
                            <p class="card-text">
                                <b>SPECIES:</b> {{ character.species }} <br>
                                <b>GENDER:</b> {{ character.gender }} <br>
                                <b>ORIGIN:</b> {{ character.origin.name }} <br>
                                <!-- Location button -->
                                <b>LAST LOCATION:</b> <button class="location_detail" type="button" data-toggle="modal"
                                    data-target="#location-modal" v-if="character.location.url != '' "
                                    v-on:click="findLocation(character.location.url)">{{ character.location.name }}</button>
                                <button class="unknown_location" v-else>{{ character.location.name }}</button>
                            </p>
                        </div>
                        <!-- Character Information -->
                    </div>

                    <!-- Location Modal -->
                    <div class="modal fade" id="location-modal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!-- Location title -->
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{ info_location.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <!-- Location Information -->
                                <div class="modal-body">
                                    <b>Type:</b> {{ info_location.type }} <br>
                                    <b>Dimension:</b> {{ info_location.dimension }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal"
                                    >Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Location Modal -->
                </div>
            </div>
        </div>
        <!-- Character card -->

        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://github.com/zelotype" class="footer-link"> zelotype</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->

    </div>

    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    info: [],
                    info_location: [],
                    searchText: ''
                };
            },
            methods: {
                calculate_year: function (data) {
                    created_year = Number(data.slice(0, 4));
                    year = 2019;
                    distance = year - created_year;
                    if (distance == 0) {
                        text = 'created this year'
                    }
                    else if (distance == 1) {
                        text = 'created a year ago'
                    }
                    else {
                        text = 'created ' + distance.toString() + ' years ago'
                    }
                    return text
                },
                findLocation: function (url) {
                    if (url == '') {

                    }
                    else {
                        axios.get(url).then(response => (
                            this.info_location = response.data
                        ))
                    }
                },
            },
            mounted() {
                axios
                    .get('https://rickandmortyapi.com/api/character/')
                    .then(response => (
                        this.info = response.data.results
                    ))
                    .catch(error => console.log('Fetch data error'));
            },
            computed: {
                searchTextResult: function () {
                    return this.info.filter(character => {
                        let searchText = this.searchText.toLowerCase()

                        let isMathchTitle = character.name.toLowerCase().includes(searchText)

                        return isMathchTitle
                    });
                },
            },
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>